In [21]:
import numpy as np
import json
import os, sys, pathlib
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
layers = [7, 10]
DS = 'c10'
SEEDs = [147, 258, 369]

In [23]:
## find best test accuracy and number of params.
data_dict = {'model': [], 'acc': [], 'params':[], 'layers':[], 'seed':[]}
for SEED in SEEDs:
    for num_layers in layers:
        model_names = [f'original_mixer0',
                        f'original_mixer1',
                        f'patchonly_mixer0' ]
        for model_name in model_names:
            ## load stat of the model
#             print(model_name)
            file = f'./output/03.0_{model_name}_l{num_layers}_{DS}_s{SEED}_data.json'
            if not os.path.exists(file):
                print(f"File: {file} not found. Next ...")
                continue
                
            with open(file, 'r') as f:
                data = json.load(f)    
            
            best_acc = np.array(data['test_stat'])[:, 2].max()
            if data['test_stat'][-1][0] < 199:
                print(f"Incomplete training {file} {data['test_stat'][-1][0]}")
                continue
                
#             print(best_acc)
            data_dict['model'] += [model_name]
            data_dict['acc'] += [best_acc]
            data_dict['params'] += [data['num_params']]
            data_dict['layers'] += [num_layers]
            data_dict['seed'] += [SEED]
        pass
    pass
pass

In [24]:
df = pd.DataFrame(data_dict)

In [25]:
df

               model    acc   params  layers  seed
0    original_mixer0  83.80   896779       7   147
1    original_mixer1  83.98   884408       7   147
2   patchonly_mixer0  83.93   807082       7   147
3    original_mixer0  83.03  1228096      10   147
4    original_mixer1  84.17  1218257      10   147
5   patchonly_mixer0  84.43  1137220      10   147
6    original_mixer0  83.41   896779       7   258
7    original_mixer1  83.96   884408       7   258
8   patchonly_mixer0  84.66   807082       7   258
9    original_mixer0  82.89  1228096      10   258
10   original_mixer1  83.68  1218257      10   258
11  patchonly_mixer0  85.49  1137220      10   258
12   original_mixer0  83.81   896779       7   369
13   original_mixer1  84.16   884408       7   369
14  patchonly_mixer0  84.09   807082       7   369
15   original_mixer0  83.03  1228096      10   369
16   original_mixer1  84.20  1218257      10   369
17  patchonly_mixer0  84.81  1137220      10   369

In [18]:
mask = df['model'] == model_names[2]
df0 = df[mask]
df0

               model    acc   params  layers  seed
2   patchonly_mixer0  55.16  1137922       7   147
5   patchonly_mixer0  56.29  1468060      10   147
8   patchonly_mixer0  55.55  1137922       7   258
11  patchonly_mixer0  55.83  1468060      10   258

In [20]:
mask = df0['layers'] == 10
df1 = df0[mask]
df1

               model    acc   params  layers  seed
5   patchonly_mixer0  56.29  1468060      10   147
11  patchonly_mixer0  55.83  1468060      10   258